/* colorful-attendance.css */

/* Styles for a colorful attendance page */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#attendence {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Set a maximum width */
    margin: 20px auto; /* Center horizontally */
}
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

select,
input[type="submit"] {
    width: 122px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #55c57a;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3d9e66;
}
